<h1>Edit Question here!</h1>

<p>
  <%= link_to 'Back to All Quizzes', quizzes_path %> || <%= link_to 'Back to this Quiz', quiz_path(@round.quiz) %> || <%= link_to 'Back to this Round', edit_round_path(@round) %> 
</p>

<%= render partial: 'form', locals: {sub_text: 'Update Question and Answers'} %> 

<p>
  <%= link_to 'Delete Question', round_question_path(@round, @question), method: :delete %>
</p>