<h1>Edit Question here!</h1>
<%= form_for [@round, @question] do |f| %>
  <%= f.hidden_field :round_id %>
  <%= f.label :question %>
  <%= f.text_field :question %><br>
  <%= f.fields_for :answer do |answer| %>
    <%= answer.label :answer %>
    <%= answer.text_field :answer %>
  <% end %>
  <br>
  <%= f.submit %>
  <%# TODO: PUT IN ERROR MESSAGES ON THIS PAGE %>
<% end %>