<h1>Add a new question here!</h1>
<h1>Create a Question set</h1>

<%= form_for [@round, @question] do |f| %>
  <%= f.label :question %>
  <%= f.text_field :question %>

  <%= f.hidden_field :round_id %>

  <%= f.submit %>
  <%# TODO: PUT IN ERROR MESSAGES ON THIS PAGE %>
<% end %>