<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"> <%= send(first_col, item) %> </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900"> <%= send(sec_col1, item) %> </div>
    <div class="text-sm text-gray-500"> <%= "#{send(sec_col2, item)} #{sec_txt}" %>  </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
      Incomplete
    </span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">

    <% if path %>
      <%= link_to path_txt, send(path, item), class:"hover:text-indigo-600 text-white hover:bg-indigo-100 bg-indigo-500 rounded-l-full rounded-r-full px-3 py-1 text-sm font-medium" %>
    <% else %>
      <%= form_for @game do |f| %>
        <%= f.hidden_field :quiz_id, :value => item.id %>
        <%= f.submit "Play this Game", class:"hover:text-indigo-600 text-white hover:bg-indigo-100 bg-indigo-500 rounded-l-full rounded-r-full px-3 py-1 text-sm font-medium"%>
      <% end %>
    <% end %>

  </td>
</tr>

<%# in Quizzes/index and quizzes/play (aka browse)%>