<% title ': All Your Quizzes' %>
<%= render partial: 'application/header', locals: {head_text: 'My Quizzes'} %>
<main>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg m-10">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Rounds
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th scope="col" class="relative px-6 py-3 text-right">
                  <%= link_to 'Create a new Quiz', new_quiz_path, class:"text-indigo-600 hover:text-indigo-900"  %>
                  <span class="sr-only">Edit</span> 
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <%= render partial: 'quiz', collection: @quizzes, as: :item, locals: {first_col: 'quiz_name', sec_col1: 'num_rounds', sec_col2: 'num_questions', sec_txt: 'questions', path_txt: 'Edit', path: 'quiz_path'} %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <%= form_tag(quizzes_path, method: :get) do %>
    <%= text_field_tag 'name' %>
    <%= submit_tag %>
  <% end %>
</main>

