<% title ": #{quiz_name(@quiz)}" %>
<%= render partial: 'application/header', locals: {head_text: quiz_name(@quiz)} %>
<% if has_comments?(@quiz) %>
  <div class="lg:text-center mt-10">
    <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">
    <%= link_to 'Comments from Players', quiz_comments_path(@quiz) %>
    </h2>
  </div>
<% end %>
<% @quiz.rounds.each do |round| %>
  <div class="bg-white shadow overflow-hidden sm:rounded-lg m-10 border-r border-t border-l border-gray-200">
    <div class="bg-gray-100 shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= round_name(round) %>
        </h3>
      </div>
      <% round.questions.each do |question| %>
        <div class="border-t border-gray-200">
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <div class="text-sm font-medium text-gray-500 sm:mt-0 sm:col-span-3">
            <%= question(question) %>
          </div>
          <div class="text-sm font-medium text-gray-500 col-span-1 grid grid-rows-2 ">
            <div class="mt-1 px-2 text-base text-green-600 col-span-1"><%= answer(question) %></div>
          </div>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
