<% title ': All Your Quizzes' %>

<%= render partial: 'application/header', locals: {head_text: quiz_name(@quiz)} %>

<div class="bg-gray-100 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
  <div class="ml-3 inline-flex rounded-md shadow">
    <%= link_to 'Rename Quiz', edit_quiz_path(@quiz), class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700" %>
  </div>
  <div class="ml-3 inline-flex rounded-md shadow">
    <%= link_to 'View Quizzes', quizzes_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-indigo-50" %>
  </div>
</div>

<div class="bg-gray-100 mb-10">
  <div class="flex justify-center pt-3 pb-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
    
      <%= render partial: 'rounds/form', locals: {sub_text: 'Create New Round'} %> 
    </div>
  </div>
</div>


<div class="mx-80 justify-center py-5 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">

  <dd class="mt-1 text-sm bg-white text-gray-900 sm:mt-0 sm:col-span-2">
    <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">

      <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
        <div class="w-0 flex-1 flex items-center">
          <!-- Heroicon name: solid/paper-clip -->

          <span class="ml-2 flex-1 w-0 truncate">
            <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Quiz Rounds</h2>
          </span>
        </div>
        <div class="ml-4 flex-shrink-0">
          
        </div>
      </li> 
      <%= render partial: 'rounds/round', collection: @quiz.rounds, as: :item, locals: {path: 'edit_round_path'} %>

    </ul>
  </dd>
</div>

<div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
  <%= button_to 'Delete Quiz', quiz_path(@quiz), method: :delete, class:"inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" %>
</div>