<h1><%= @quiz.title %> </h1>
<p>
  <%= link_to 'Rename Quiz', edit_quiz_path(@quiz) %> || <%= link_to 'Back to Quizzes', quizzes_path %>
</p>

<%= render partial: 'rounds/form', locals: {sub_text: 'Create New Round'} %> 

<p>
Rounds (<%= @quiz.rounds.count %>):
</p>
<ol>
<% @quiz.rounds.each do |round| %>
  <li>
    <%= link_to round.subject, edit_round_path(round) %><br>
  </li>
<% end %>
</ol>

<p>
  <%= link_to 'Delete Quiz', quiz_path(@quiz), method: :delete %>
</p>