<h1><%= @quiz.title %> </h1>
<p>
  <%= link_to 'Rename Quiz', edit_quiz_path(@quiz) %> || <%= link_to 'Back to Quizzes', quizzes_path %>
</p>

<%= render partial: 'rounds/form', locals: {sub_text: 'Create New Round'} %> 

<p>
Rounds (<%= @quiz.rounds.count %>):
</p>
<ol>
  <%= render partial: 'application/list_with_links', collection: @quiz.rounds, as: :item, locals: {path: 'edit_round_path'} %>
</ol>

<p>
  <%= link_to 'Delete Quiz', quiz_path(@quiz), method: :delete %>
</p>