<h1>Edit Round: <%= @round.subject %></h1>

<p>
  <%= link_to 'Back to All Quizzes', quizzes_path %> || <%= link_to 'Back to this Quiz', quiz_path(@round.quiz) %> 
</p>

<%= render partial: 'form', locals: {sub_text: 'Rename Round'} %> 

<h2>Questions/Answers:</h2>
<p>
  <%= form_for [@round, @question] do |f| %>

    <% if @question.errors.any? %>
    <P>I found an error</p>
      <div id="error_explanation">
        <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

        <ul>
        <% @question.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :round_id %>
    <%= f.label :question %>
    <%= f.text_field :question %>
    <%= f.fields_for :answer do |answer| %>
      <%= answer.label :answer %>
      <%= answer.text_field :answer %>
    <% end %>
    <br>
    <%= f.submit %>
    <%# TODO: PUT IN ERROR MESSAGES ON THIS PAGE %>
  <% end %>
</p>

<ol>
  <% @round.questions.each do |question| %>
    <li>
      <%= link_to question.question, edit_round_question_path(@round, question) %>
      <% if !question.answer.nil? %>
        <%= "=> #{question.answer.answer}"%>
      <% end %>
    </li>
  <% end %>
</ol>

<p>
  <%= link_to 'Delete Round', round_path(@round), method: :delete %>
</p>