<h1>Edit Round: <%= @round.subject %></h1>
<%= form_for @round do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.hidden_field :quiz_id %>

  <%= f.submit 'Rename Round' %>
<% end %>
<h2>Questions/Answers:</h2>
<p>
  <%= form_for [@round, @question] do |f| %>
    <%= f.label :question %>
    <%= f.text_field :question %>

    <%= f.hidden_field :round_id %>

    <%= f.submit %>
    <%# TODO: PUT IN ERROR MESSAGES ON THIS PAGE %>
  <% end %>
</p>
<ol>
  <% @round.questions.each do |question| %>
    <li>
      <%= question.question %>
    </li>
  <% end %>
</ol>

<p>
  <%= link_to 'Delete Round', round_path(@round), method: :delete %>
</p>