<h1>Edit Round: <%= @round.subject %></h1>

<p>
  <%= link_to 'Back to All Quizzes', quizzes_path %> || <%= link_to 'Back to this Quiz', quiz_path(@round.quiz) %> 
</p>

<%= render partial: 'rounds/form', locals: {sub_text: 'Rename Round'} %> 

<h2>Questions/Answers:</h2>
<p>
  <%= render partial: 'questions/form', locals: {sub_text: 'Add a Question'} %> 
</p>

<ol>
  <% @round.questions.each do |question| %>
    <li>
      <%= link_to question.question, edit_round_question_path(@round, question) %>
      <% if !question.answer.nil? %>
        <%= "=> #{question.answer.answer}"%>
      <% end %>
    </li>
  <% end %>
</ol>

<p>
  <%= link_to 'Delete Round', round_path(@round), method: :delete %>
</p>