<h1>Edit Round: <%= @round.subject %></h1>
<%= form_for @round do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>

  <%= f.hidden_field :quiz_id %>

  <%= f.submit 'Rename Round' %>
<% end %>
<h2>Questions/Answers:</h2>
<%= link_to 'Add new set of question/answers', new_round_question_path(@round) %>
<ol>
  <% @round.questions.each do |question| %>
    <li>
      <%= question.question %>
    </li>
  <% end %>
</ol>

<p>
  <%= link_to 'Delete Round', round_path(@round), method: :delete %>
</p>