<% title ': This one game that is being played' %>

<%= render partial: 'application/header', locals: {head_text: 'This one specific game '} %>

<% case status @game%>
<% when 'new' %>
  <%= render partial: 'start' %>
<% when 'incomplete' %>

  <%= form_for curr_round(@game) do |f| %>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg m-10">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900"> <%= curr_subject(@game) %> </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Round <%= this_round(@game) %> out of <%= game_rounds(@game) %></p>
      </div>
      <div class="border-t border-gray-200">
        <dl>

        <%= f.fields_for :player_answers do |player_answer| %>
          <div class="bg-gray-100 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500 sm:col-span-3">
              <%= player_answer.label :answer, display_question(player_answer.object), class: "block text-sm font-medium text-gray-700" %>
            </dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-1">
              <%= player_answer.text_field :answer, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </dd>
          </div>
          <hr />
        <% end %>

        </dl>
      </div>

      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= f.submit 'Save Answers', class: "mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" %>
        <%= f.submit 'Submit Round', name: 'submit_round', class: "w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm" %>
      </div>

      
    </div>
  <% end %>

<% else %>


  <% @game.game_rounds.each do |round| %>


  <div class="bg-white shadow overflow-hidden sm:rounded-lg m-10 border-r border-t border-l border-gray-200">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          <%= display_subject(round) %>
        </h3>
      </div>

      <% round.player_answers.each do |answer| %>
        <div class="border-t border-gray-200">
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
          <div class="text-sm font-medium text-gray-500 sm:mt-0 sm:col-span-3">
            <%= display_question answer %>
          </div>
          <div class="text-sm font-medium text-gray-500 col-span-1 grid grid-rows-2 ">
            <div class="mt-1 px-2 block bg-gray-200 w-full shadow-sm sm:text-sm border-gray-300 rounded-md "><%= my_answer(answer) %></div>
            <div class="mt-1 px-2 text-base text-green-600 col-span-1"><%= display_solution(answer) %></div>
          </div>
        </div>
      </div>
      <% end %>

      </div>
    </div>
  </div>



  <% end %>

<% end %>